@font-face {
    font-family: Quicksand-Reg;
    src: url('Quicksand-Regular.otf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('Quicksand-Bold.otf');
}

text {
    font-family: sans-serif;
}
h1, h3, h4 {
    text-align: center;
    font-family: Quicksand-Bold, sans-serif;
    color: #373640;
}

body {
    padding-top: 30px;
    background: #fbf7f2;
    font-family: Quicksand-Reg, sans-serif;
}

/* For grouped bars */

#legend text {
    font-size: 0.9em;
}


/* For index.html*/

#major-dropdown {
    top: 0;
    padding: 5px 5px;
    height: 40px;
    background: #373640;
    color: #FFF;
    border: 0 none;
}

#major-dropdown:hover {
    background: #63686e;
}

.buttonContainer {
    margin: 0 auto;
}

.buttonDiv {
    margin: 10px 5px 10px 0;
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;
    line-height: 25px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
}

.buttonDiv:hover {
    background: #82888f;
}

#sortAscendingWomen, #sortDescendingWomen {
    border-color: #b09cff;
    background: #b09cff;
}

#sortAscendingMedian, #sortDescendingMedian {
    border-color: #4fb0c2;
    background: #4fb0c2;
}

#sortAscendingFt, #sortDescendingFt {
    border-color: #8eb08d;
    background: #8eb08d;
}

#sortAscendingDegree, #sortDescendingDegree {
    border-color: #f0a156;
    background: #f0a156;
}

#sortAscendingUnemp, #sortDescendingUnemp {
    border-color: #c0392b;
    background: #c0392b;
}

.filterMenu {
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

/* Make div horizontally scrollable */
.container {
    min-width: 1500px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.datadiv {
    box-sizing: border-box;
}

#chartWomen, #chartMedian, #chartFt, #chartCollege, #chartUnemployed {
    height: 250px;
    width: 500px;
    padding-left: 3%;
    padding-right: 3%
}

.topLabel {
    text-align: center;
    font-family: Quicksand-Bold, sans-serif;
    font-weight: bold;
}

.filterMenu {
    font-family: sans-serif;
}

svg {
    shape-rendering: crispEdges;
}

.bar rect {
    padding-left: 5px;
}

.grouperoo {
    margin: 0;
}

.value {
    font-size: 12px;
    font-weight: 300;
}

.label {
    font-size: 18px;
    fill: #333;
}

.line {
    margin: 10px 0px;
    stroke: #cccccc;
}

.line line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.1);
}

#majors{
    font-size: 11px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 15px 3px 10px 3px;
    font: .8em sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* For bubble chart */

g.cell text.label {
    font-size: 1em;
}