body {
    font-family: "Exo 2", sans-serif;
    background: #ddd;
    color: #333;
}

h1 {
    margin: 0;
    padding: 0.1rem 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.widget {
    display: inline-block;
    border: 1px solid #aaa;
    background: white;
}

#chart {
    height: 250px;
    width: 500px;
}

#chart1 {
    height: 250px;
    width: 500px;
}

svg {
    shape-rendering: crispEdges;
}

.bar {
    fill: #a18fdb;
}

.line {
    margin: 10px 0px;
}
.line line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.1);
}

.value {
    font-size: 16px;
    font-weight: 300;
    fill: #333;
}

.label {
    font-size: 18px;
    fill: #333;
}

.axis {
    font-size: 12px;
}
.axis path {
    fill: none;
}
.axis .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.1);
}